* {
  color: var(--white);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body,
html {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  min-height: fit-content;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
